/*
 style for d3
*/

/* http://alignedleft.com/tutorials/d3/making-a-scatterplot */
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
